@keyframes fadeInUp {
  0% {
    -webkit-transform: translate3d(0,10%,0);
    opacity: 0;
    transform: translate3d(0,10%,0);
  }
  100% {
    -webkit-transform: translateZ(0);
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(-44deg);
    -webkit-transform: rotate(-44deg);
    transform: rotate(-44deg);
  }
  100% {
    -moz-transform: rotate(44deg);
    -webkit-transform: rotate(44deg);
    transform:rotate(44deg);
  }
}
