@font-face {
  font-family: $roboto;
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: $rb-light;
  src: url('fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: $rb-bold;
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: $rb-medium;
  src: url('fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: $rb-thin;
  src: url('fonts/Roboto-Thin.ttf') format('truetype');
}
