*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $roboto;
}
html{
  height: 100%;
}
body {
  background-color: white;
  height: 100%;
}
main{
  display: inline-block;
  background: $c4;
  min-height: 1000px;
  @include atLarge() {
    display: flex;
  }
}
