/* Colors */
// dark-sky-blue
$c1: #4a90e2;
// dark-blue-grey
$c2: #152935;
// metallic-blue
$c3: #517489;
// white-two
$c4: #f1f1f1;
// white-three
$c4-bis: #ffffff;
// black
$c5: #333333;
$c6: #666;


/* Fonts */
$roboto: 'roboto-regular';
$rb-light: 'rb-light';
$rb-bold: 'rb-bold';
$rb-medium: 'rb-medium';
$rb-thin: 'rb-thin';
