<template >
  <div id="wrapperLoop">
    <article
      v-for="beer in beers"
      @click="doThis($event)" class="beer">
      <div class="beer__title">
      <h2>{{ beer.name }}</h2>
    </div>
    <div class="beer__data">
      <figure class="beer__img">
        <img v-bind:src="beer.image_url" alt="">
      </figure>
      <div class="beer__dataWrapper">
        <p class="beer__tips">
          {{ beer.brewers_tips }}
        </p>
        <p class="beer__description">
          {{ beer.description }}
        </p>
      </div>
    </div>
  </article>
  </div>
</template>

<script>
export default {
  name: 'Accordion',
  props: {
    msg: String
  },
  data() {
    return {
      beers: []
    }
  },
  created(){
    fetch('https://api.punkapi.com/v2/beers')
    .then( response => response.json() )
    .then(json => {
      this.beers = json.slice(0,4)
    })
  },
  methods: {
    doThis: event => {
      let clickClass = event.path[2].className
      if (clickClass === 'beer') {
        event.path[2].className = 'beer beer-show'
      }else if (clickClass === 'beer beer-show') {
        event.path[2].className = 'beer'
      }
    }

  }
}
</script>




<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import "../sass/partials/base/variables.scss";
@import "../sass/partials/base/mixins.scss";
@import "../sass/partials/base/global.scss";
@import "../sass/partials/base/animate.scss";

@import "../sass/partials/modules/beer.scss";

</style>
