<template>
  <section class="right">
		<div class="right__logoCont">
			<i class="right__logo"></i>
		</div>
		<div class="right__textContent">
			<p class="right__titular">Te proponemos el reto de crear un componente <span>accordion</span> teniendo en cuenta los siguientes puntos:</p>
			<p class="right__texto1">Utilizar Vue, o en su defecto algún otro framework de JS (React, Angular, jQuery). También podrías optar por usar Vanilla JS como última opción. No usar librerías o frameworks de CSS tales como Bootstrap.
				El componente tiene que ser creado desde cero.</p>
				<p class="right__texto2">Usa un preprocesador de CSS como puede ser SASS. Se valorará el uso de BEM, qué sea accesible a nivel AA y la limpieza del código.</p>
				<p class="right__texto3">Puedes usar cualquier API que quieras, por ejemplo ésta: <a href="https://punkapi.com/">https://punkapi.com/</a></p>
			</div>
		</section>
</template>

<script>
export default {
  name: 'TextoDesc',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import "../sass/partials/base/variables.scss";
@import "../sass/partials/base/mixins.scss";
@import "../sass/partials/base/global.scss";
@import "../sass/partials/base/animate.scss";

@import "../sass/partials/modules/leftRight-conte.scss";
</style>
