<template>
  <div id="app">
    <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
    <main>
    <section class="left">
      <div class="left__wrapper">
        <h1 class="left__title">Title</h1>
        <Accordion msg="Acordeon"/>
      </div>
    </section>
    <TextoDesc msg='Texto'/>

  </main>
  </div>
</template>

<script>

import TextoDesc from './components/TextoDesc.vue'
import Accordion from './components/Accordion.vue'

export default {
  name: 'app',
  components: {
    TextoDesc,
    Accordion
  }
}
</script>

<style lang="scss">

@import "./sass/partials/base/variables.scss";
@import "./sass/partials/base/mixins.scss";
@import "./sass/partials/base/fonts.scss";
@import "./sass/partials/base/global.scss";
@import "./sass/partials/base/animate.scss";

</style>
